@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



body{
    background-image: url(https://webmail.afterlogic.com/static/styles/themes/Default/images/background.jpg);
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Montserrat';
    margin:20px 0;
}
.container{
    width: 80%;
    margin:0 auto;
}
.loginChart{
    width: 50%;
    margin: 0 auto;
    margin: 10% auto auto;
}
.imageUp{
	width: 100px;
	display: block;
	margin:0 auto;
}
.formCon{
    width: 300px;
    margin: 0 auto;
}
.formCon input{
	display: block;
	width: 100%;
    height: 25px;
    border: none;
}